# -*- coding: utf-8 -*-
# Copyright (C) 2023 Benjamin Thomas Schwertfeger
# GitHub: https://github.com/btschwertfeger
#
# Template workflow to build the project and publish
# the package to PyPI.
#

name: PyPI Publish

on:
  workflow_call:
    secrets:
      API_TOKEN:
        required: true

permissions: read-all

jobs:
  publish-to-pypi:
    name: Publish Python distribution to PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for OIDC publishing
    environment:
      name: pypi
      url: https://pypi.org/p/kraken-rebalance-bot
    steps:
      - name: Download all the distributions
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: python-package-distributions
          path: dist/

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # release/v1
        with:
          password: ${{ secrets.API_TOKEN }}
          repository-url: https://upload.pypi.org/legacy/
